.text-coffee {
  color: #d3ad7f;
}

.bg-coffee {
  background-color: #d3ad7f;
}

.hero {
  height: 100vh;
  background-image: url(../images/home-img.jpeg);
  background-position: center;
  background-size: cover;
}

.hovered-link > li:hover {
  border-bottom: 1px solid grey;
  color: gold;
}
